.section-header {
  padding-top: 3.375rem;
  background-color: $c-alpha;
  color: set-text-color($c-alpha);
}

// Discount
.discount {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 2.8125rem;
  border-radius: 4.625rem;
  position: relative;
  background-color: #540195;
}

.discount__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 6.8125rem;
  height: 6.8125rem;
  padding-bottom: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $c-beta;
}

.circle__text {
  font-size: 0.72001875rem;
  display: flex;
  flex-direction: column;
  transform: rotate(10deg);
}

.text__bigger {
  font-size: 2rem;
  line-height: 120%;
}

.discount__text {
  font-size: 1.25rem;
  // margin-left: auto;
  // margin-right: 1rem;
  margin: 0 auto;
  transform: translateX(3.40625rem);
}
// /Discount

// Section header content
.section-header__content {
  padding-top: 2.2rem;
  padding-bottom: 8.4rem;
  position: relative;
  z-index: 2;
}

.content__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
}

.content__subtitle {
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 120%;
}

.form-main {
  margin-top: 2.5rem;
}

.select-wrapper {
  position: relative;
  margin-bottom: 0.75rem;
}

.select-arrow-down {
  background-image: url(../img/svgs/triangle-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.form-main__field {
  @extend .btn-input-shared-styles;
  font-weight: 300;
  line-height: 120%;
  background-color: $c-delta;
  color: set-text-color($c-delta);
  -webkit-appearance: none;
  &:active,
  &:focus {
    background-color: $c-delta;
  }
  &::placeholder {
    color: rgba(#fff, 0.5);
  }
  &:not(select) {
    margin-bottom: 0.75rem;
  }
}

.form-main__submit {
  margin-top: 0.23rem;
  margin-bottom: 0.75rem;
}
// /Section header content
