.section-reasons__reasons {
  padding: 0;
}

.reasons__reason {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c-theta;
}

.reason__img {
  margin-right: 1.4375rem;
}

.reason__text {
  width: 100%;
}
