// Buttons
.btn {
  @extend .btn-input-shared-styles;
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  &:active {
    transform: scale(0.98);
  }
  background-color: $c-beta;
  color: #fff;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.btn-shadow {
  box-shadow: 0px 0.625rem 0.9375rem rgba($c-beta, 0.2);
}
