@font-face {
  font-family: 'Geometria-bold';
  src: url(../fonts/geometria-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Stem';
  src: url(../fonts/Stem-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Stem-medium';
  src: url(../fonts/stem-medium.otf) format('opentype');
}

@font-face {
  font-family: 'Stem-extralight';
  src: url(../fonts/stem-extralight.otf) format('opentype');
}
