.ellipse {
  position: absolute;
  top: 14rem;
  right: 0;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

.items-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-beta {
  color: $c-beta;
}

.fw-wider {
  font-weight: 900;
}
