@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'normalize';
@import 'config';
@import 'fonts';
@import 'base/animations';
@import 'base/utility';
@import 'base/general';
@import 'base/buttons';
@import 'sections/header';
@import 'sections/section-header';
@import 'sections/section-perks';
@import 'sections/section-discount';
@import 'sections/section-reasons';
@import 'sections/section-about';

// IOS support to prevent it from zooming when User clicks on the inputs

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #fff;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

// @import 'mobile';
